*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    align-items: center;
    height: 30px;
    padding: 5px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

main{
    padding-top: 15px;
}

.iconos{
    display: flex;
    gap: 40px;
    font-size: 18px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: brown;
    transition: 0.3s;
}

a:hover{
    color: rgb(243, 53, 53);
    transition: 0.3s;
}

img{
    width: 150px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 30px;
    padding: 5px;
    font-weight: bold;
}